.navbar {
  background-color: #7bfdba;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.footer {
  background-color: #7bfdba;
  padding: 1rem;
  text-align: center;
}
.main-content {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  height: 80vh;

}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
.card h3 {
  margin: 0.5rem 0;
}
.card p {
  color: #555;
}